/* Basic Settings */
body {
    margin: auto;
    max-width: 45em;
    font-family: 'Fira Sans', sans-serif;
    background: rgb(248, 248, 255);
    color: #333;
}

/* Headers */
h1, h2, h3 {
    margin-top: 0;
}
h1 {
    font-size: 1.5em; 
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.15em; 
}

/* Navigation */
nav ul {
    padding: 0;
    margin: .5em;
    text-align: center;
}
nav li {
    display: inline-block;
    padding: .7em 1em .5em;
    background: #e8f0fe;
    border-radius: .5em;
    margin: .2em;
    transition: background-color 0.3s;
}
nav li.active {
    background: #007bff; 

}
nav li:hover {
    background-color: #b0c4de;
}
nav li a {
    text-decoration: none;
    color:white; /* Oletusväri valikkoteksteille */
}


nav li a:hover {
    color: white; /* Väri kun hiiri on linkin päällä */
}

nav li.active a {
    color: white; /* Väri aktiiviselle valikkolinkille */
}

/* Normaali tila */
nav .navbar-nav .nav-link {
    color: white; /* Oletusväri valikkolinkille */
}

/* Hover ja focus tila */
nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link:focus {
    color: yellow; /* Väri kun hiiri on linkin päällä tai linkki on fokusoitu */
}

/* Aktiivinen tila */
nav .navbar-nav .nav-item.active .nav-link {
    color: white; /* Väri aktiiviselle valikkolinkille */
}



/* Buttons & Links */
.btn-primary, .btn-block, form #button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
}
.btn-primary:hover, form #button:hover {
    background-color: #0056b3;
    border-color: #0044a3;
    color: white;
}
.btn-block {
    display: block;
    width: 100%;
}

/* Forms */
form {
    margin: auto;
    padding: .5em;
    background: white; 
    border-radius: .5em;
    max-width: 30em;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1); 
}
.form-group, .form-control, label, input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}
.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* General Areas */
.header {
    background: #0056b3;
    color: white;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}
.content {
    background: white;
    padding: 1.5em 2em;
    border-radius: .5em;
}

/* Messages & Notificatios */
.flash-messages, .flash-messages li {
    margin: 1em auto;
    padding: 1em;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: .5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    list-style: none;
}
.flash-messages li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/* Icons */
/* Normaali tila */
.big-icon {
    color: darkgray; /* Oletusväri ikoneille */
}

/* Hover tila */
nav .navbar-nav .nav-link:hover .big-icon,
nav .navbar-nav .nav-link:focus .big-icon {
    color: black; /* Väri kun hiiri on ikonin päällä tai ikoni on fokusoitu */
}

/* Aktiivinen tila */
nav .navbar-nav .nav-item.active .nav-link .big-icon {
    color: white; /* Väri aktiiviselle ikonille */
}

/*Table*/
table {
    margin-top: 1em;
    margin-bottom: 1em;
}

th, td {
    font-size: 0.9em; /* Säädä tarpeen mukaan */
}
.btn {
    border-radius: 0.25em; /* Pyöristetyt kulmat */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lisää varjo */
}
.btn-primary {
    background-color: #0056b3; /* Oma päävärisi */
}
.btn-danger {
    background-color: #d9534f; /* Oma vaaravärisi */
}
.form-control {
    padding: 0.375rem 0.75rem; /* Säädä paddingia */
    border: 1px solid #ced4da; /* Säädä reunaviivaa */
    border-radius: 0.25rem; /* Säädä kulmien pyöristystä */
}
