{% extends "layout.html" %}
{% block title %}Destinations{% endblock %}
{% block content %}
<h2>Destinations</h2>
<!-- Lisäyslomake -->
<form method="post" action="/add_destination">
    <label for="name">Destination Name:</label>
    <input type="text" id="name" name="name" required>
    <input type="submit" value="Add Destination">
</form>
<!-- Kohteiden lista -->
<h3>Existing Destinations</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for destination in destinations %}
    <tr>
        <td>{{ destination.destination_name }}</td>
        <td>
            <a href="/edit_destination/{{ destination.id }}">Edit</a>
            <form method="post" action="/delete_destination/{{ destination.id }}" onsubmit="return confirm('Are you sure?');">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this car?');
    }
</script>
{% endblock %}
