{% extends "layout.html" %}
{% block title %}
Edit Operator
<!-- Edit tempalate for operators -->
{% endblock %}
{% block content %}
    <h2>Edit Operator</h2>
    {% for message in get_flashed_messages() %}
        <div class="flash-message">{{ message }}</div>
    {% endfor %}

    {% if operator %}
        <form method="post" action="/edit_operator/{{ operator.id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="operator_name">Operator Name:</label>
            <input type="text" id="operator_name" name="operator_name" value="{{ operator.operator_name }}" required>

            <input type="submit" class="btn btn-primary" value="Update Operator">
        </form>
    {% else %}
        <p>Operator not found.</p>
    {% endif %}
{% endblock %}
