{% extends "layout.html" %}
{% block title %}Login{% endblock %}
Login Page
{% if session.username %}
{% else %}
<h2>Login</h2>
{% endif %}
{% block content %}
<h1>Login</h1>
{% if session.username %}
<p>User id: {{ session.username }}</p>
<a href="/logout">Logout</a>
{% else %}

<form action="/login" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    User id: <input type="text" name="username"> <br>
    Password: <input type="password" name="password"> <br>
    <input type="submit" class="btn btn-primary" value="Login">
</form>
{% endif %}
{% endblock %}
