{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <h1>Register To ChargeTracker</h1>
        <!-- Template used for registering new ChargingTracker users -->
        <form method="POST">
            <div class="form-group">
                <label for="username">User id:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm password:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}
